@import url("./gill_sans/gill_sans.css");
.p_grid_image {
	width: 45%;
	float: left;
}
.p_grid_title {
	width: 50%;
	float: right;
}
.p_img {
	width: 100%;
}
.p_number {
	text-align: center;
	font-weight: bold;
}
.p_title {
	text-align: center;
	font-weight: bold;
}
.p_subtitle {
	font-weight: 600;
	text-align: center;
}
.p_subtitle_2 {
	text-align: center;
}
.p_content {
	text-align: left;
	margin: 0.5vw;
}
.p_subcontent {
	text-align: left;
	margin: 1vw;
}

.p_newline {
	clear: both;
}
.hr_newline {
	width: 30%; 
	align: center
}

.gold_metallic {
	color: #D4AF37;
}
.header_img {
	float: left;
	width: 40px;
	height: 40px;
	border: 0;
	margin-right: 10px;
}
.header_a {
	text-decoration: none;
}
.header_nav {
	text-align: center; 
	margin-bottom: 20px;
}
.p_grid_inh {
	width: 90%;
	margin: 2vw;
}
.p_grid_eng, .p_grid_rus, .p_grid_che {
	width: 90%;
	margin: 2vw;
}
/*
	font-family:'Gill Sans Std Regular';
pre { 
	font-family: Gill Sans Std Regular; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18.5667px; 
	white-space: pre-wrap !important;
}
*/
pre {
	font-family:'Gill Sans';
	font-weight:normal;
	white-space: pre-wrap !important;
}
